<!DOCTYPE html>
{% load staticfiles %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Manikandan Shenbagaraj</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="smanikandan, mit , anna university,global analytics, python">
    <meta name="author" content="">
    <!-- Le styles -->
    <!--<link href="/static/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">


    <link href="{% static "css/style.css" %}" rel="stylesheet">
    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <!-- Fallback for NoScript -->
    <noscript>
    &lt;style type="text/css"&gt;
     body {
        display: block;
     }
    &lt;/style&gt;
    </noscript>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    
 </head>

  <body style="display: block;" cz-shortcut-listen="true">
        <section class="container">

            <!-- Header -->
            <header class="row-fluid">
                <div class="title span7">
                    <img src="{% static 'img/profile.jpg' %}" title="That`s me!" alt="My Profile">
                    <h1>Manikandan Shenbagaraj</h1>
                    <h2>Software Engineer III</h2>
                </div>
                <div class="social offset1 span4">
                    <ul>
                        <li><i class="icon-home"></i> 5/88, A Type, Sidco Nagar</li>
                        <li>Villivakkam, Chennai-600049</li>
                        <li><i class="icon-envelope-alt"></i>smanikandanmit@gmail.com</li>
                        <li><i class="icon-phone"></i> +91 9566171574</li> 
                        <a href="https://www.facebook.com/SMANIKANDANS"><i class="icon-facebook"></i></a>
                        <a href="https://in.linkedin.com/in/manikandanshenbagaraj"><i class="icon-linkedin"></i></a>
                        <a href="https://github.com/smani6"><i class="icon-github"></i></a></li>
                    </ul>
                    <div class="topmatter">
                        <a class="pdf-download" href="/download"><i class="fa fa-download"></i> PDF</a>
                    </div>
                </div>  
            </header>

            <!-- Welcome Text -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Hello!</h3>
                </header>
                <div class="span9 ">
                    <p class="welcome">"I am a software engineer with 2+ years experience in python, django, flask, git, java, structs & MySQL." <br>
                </div>
            </article>

            <!-- Skills -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Skills</h3>
                </header>
                <div class="span9">
                    <div class="row-fluid skills">
                        <ul class="span4">
                            <li><h4>Programming</h4></li>
                            <li><strong>Python</strong></li>
                            <li><strong>Flask</strong></li>
                            <li><strong>Mysql</strong></li>
                            <li><strong>RestFul Webservices</strong></li>
                            <li><strong>Java</strong></li>
                            <li><strong>AngularJS</strong></li>

                        </ul>
                        <ul class="span4">
                            <li><h4>Frameworks/APIs</h4></li>
                            <li><strong>Django</strong></li>
                            <li><strong>Bootstrap</strong></li>
                            <li><strong>Struts</strong></li>
                        </ul>
                        <ul class="span4">
                            <li><h4>Technology</h4></li>
                            <li><strong>Git</strong></li>
                            <li><strong>Memcached</strong></li>
                            <li><strong>Docker</strong></li>
                            <li><strong>RabbitMq</strong></li>
                            
                        </ul>

                    </div>
                </div>
            </article>
            <!-- Work -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Work Experience</h3>
                </header>
                <div class="span9">
                    <h4>Software Engineer III – Global Analytics:</h4>
                    <h5>March 2015 -Present</h5>
                    <h6>Projects: Lending Stream - Entire Product from Scratch </h6>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i>  Interact closely with the business and product management team to gather the detailed requirement from them and prepare a functional design document listing down the components involved and their high level architecture.</li>
                        <li><i class="fa-li fa fa-check-square"></i>   Worked closely with the Architects and other team leaders to create a detailed technical design document with clear picture of point of interaction of components, their behavior, the way they communicate and the test cases.</li>
                        <li><i class="fa-li fa fa-check-square"></i>  Technical design phase includes creating Usecase diagrams to understand the various use cases, Sequence diagrams to describe the interaction points and order, Class diagram listing the classes their attributes and methods. </li>
                        <li><i class="fa-li fa fa-check-square"></i>  Getting the design documents signed off by technical directors and VP after detailed reviews.</li>
                        <li><i class="fa-li fa fa-check-square"></i>  Going into development phase, developed various modules both on the front-end and back-end with high quality code. 
                        </li>
                        <li><i class="fa-li fa fa-check-square"></i>  Developed Restful Web service of entire customer account and profile management. Backed for Entire customer account section. Worked on various Rule sets to customize and dynamically produce various contents to customers based on their details, states and their previous history. </li>
                        <li><i class="fa-li fa fa-check-square"></i>   Implemented core of our product - communication engine - by which all emails, post, sms will be delivered to customers. Integrated with Saleforce for email and sms triggers.</li>
                        <li><i class="fa-li fa fa-check-square"></i>   Achieve maximum code coverage using static code coverage analysis tools and ensuring coding standards using static language specific linter tools.</li>
                        <li><i class="fa-li fa fa-check-square"></i>     Integration test the whole application by interacting with other teams to ensure a workable, bug free product.
                        </li>
                        <li><i class="fa-li fa fa-check-square"></i>   Ensure continuous integration and timely go live into production.</li>
                    </ul>
                    <h4>Application Developer : Inautix (Bank of New York Mellon)</h4>
                    <h5>June 2013 - March 2015</h5>
                    <h6>Projects: Netx360 Product, Barclays and CITI Bank</h6>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i>  Involved in the Account Services team of Netx360 Product team, Rated as a best developer in Team , I was allocated to Barclays Project</li>
                        <li><i class="fa-li fa fa-check-square"></i>  Analyzed the whole requirement and proposed various designs and ideas for implementing the requirements into our existing application.</li>
                        <li><i class="fa-li fa fa-check-square"></i>  Constructed Field-control and Field level Routing (two huge sections in our application) and proposed and implemented dynamic approach for the existing and new section’s</li>
                        <li><i class="fa-li fa fa-check-square"></i>  Constructed new classes and methods to implement an API from another (Imaging) team into our application instead of going into dabble configuration.</li>
                        <li><i class="fa-li fa fa-check-square"></i>  As our project was a huge success got best developer and spot awards with high rating.</li>
                    </ul>
                </div>
            </article>
            <!-- Education -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Education</h3>
                </header>
                <div class="span9">
                    <h4>University</h4>
                    <h5>2009-2013</h5>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i>Graduated from MIT (Anna University) with 8.75 CGPA.</li>                 
                    </ul>
                    <h4>High School</h4>
                    <h5>2008-2009</h5>
                    <ul class="fa-ul">
                         <li><i class="fa-li fa fa-check-square"></i>96.5% in TN state board examinations</li>
                    </ul>
                </div>
            </article>



            <!-- Interests -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Personal Projects</h3>
                </header>
                <div class="span9">
                    <h3>University Project</h3>
                    <h4>Detection of Retinal Structures using Artificial Bee Colony based Clustering method using Digital Image Processing</h6>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i> Designed a unique method for detecting retinal structures such as optic disc, exudatesusing Artificial Bee Colony based Clustering algorithm</li>
                        <li><i class="fa-li fa fa-check-square"></i>The proposed method exactly detects exudates in abnormal images around 200 images, which I implemented using MATLAB 
                        </li>
                        <li><i class="fa-li fa fa-check-square"></i>From the output obtained the diseased conditions are analyzed using performance measures and similarity index to detect the exact stage of disease</li>
                     </ul>


                    <h4><a href="http://github-user-data.herokuapp.com/app/profile">Retrieve Github Users Data</a></h4>
                    </h4>http://github-user-data.herokuapp.com/app/profile</h4>
                    <h6>Skill set used: Python, Django, html, css, jquery</h6>
                    
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i>A simple site to quickly retrieve github user data (username, blog, public repos, public gists ,email, followers, following)by providing github username 
                        </li>
                    </ul>

                </div>
            </article>



            <!-- Footer -->
            <footer>
                <div class="topmatter">
                        <a class="pdf-download" href="/download">Download as PDF</a> | <a class="pdf-download" href="#top">To top <i class="icon-arrow-up"></i></a>
                </div>
                
            
            </footer>
    </section>

    

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/main.js"></script>
    


</body></html>
